<h1>Services our company provide:</h1>
<h2>
<ul>
    <% if @project %>
        <% if !@services.empty? %>
            <% @services.each do |service| %>
                <li><%= link_to service.name, project_service_path(@project, service) %></li>
            <% end %>
        <% else %>
            There is a no service associated to this project. 
            Please delete your project and create new one with services
            <%= button_to "Delete Project", project_path(@project), method: :delete %><br>
        <% end %>
    <% else %>
        <% if !@services.empty? %>
            <% @services.each do |service| %>
                <li><%= link_to service.name, service_path(service) %></li>
            <% end %>
        <% else %>
            There is no service created!
            
        <% end %>
    <% end %>
</ul>
    <% if current_user && current_user.employee %>
    <%= button_to 'Create Service Here', new_service_path, method: 'get' %>
    <% end %>
</h2>