<h1>Projects</h1>
<h2>
<ul>
    <% projects = @projects.where(user_id: current_user.id) %>
        <% if !projects.empty? %>
            <% projects.each do |project| %>
                <li><%= link_to project.name , project_path(project) %> </li>
            <% end %>
        <% else %>
            There is no project created.
        <% end %>
</ul>
<%= button_to 'Create Project', new_project_path, method: 'get' %>
</h2>