<h1>Projects</h1>
<h2>
<ul>
    <% if !@projects.empty?%>
        <% @projects.each do |project| %>
            <li><%= link_to project.name , project_path(project) %></li>
            <% end %>
    <% else %>
        There is no project created.
        <%= button_to 'Create Project', new_project_path, method: 'get' %>
    <% end %>
</ul>
</h2>